a<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrega Mais</title>
    <link
      rel="shortcut icon"
      href="static\img\favicon.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="static\style_index.css" />
    />
  </head>
  <body>
    <header>
      <div id="navbar">
        <a href="#"><img src="static\img\logo.svg" alt="Logo" id="logo" /></a>
        <div id="menu-icon">&#9776;</div>
        <nav id="nav">
          <a href="#sobre">Sobre</a>
          <a href="\cadastro">Cadastro</a>
          <a href="#footer">Contato</a>
        </nav>
      </div>
    </header>
    <main>
      <div id="home">
        <div class="apresentacao">
          <img src="static\img\logo.svg" alt="Logo" />
          <p>
            Você já passou pela frustração de aguardar ansiosamente por uma
            encomenda, apenas para descobrir que ela está presa nos correios,
            sem previsão de entrega?<br />
            <br />Nós entendemos o quão irritante isso pode ser. <br /><br />É
            por isso que criamos o Entrega Mais, a solução perfeita para
            garantir que suas encomendas cheguem até você de forma rápida e
            eficiente.
          </p>

          <a href="#sobre">SAIBA MAIS</a>
        </div>
        <div class="apresentacao-img">
          <img src="static\img\entegrador.svg" alt="Imagem entregador" />
        </div>
      </div>
    </main>
    <section id="sobre">
      <div class="icones">
        <div class="icone">
          <img src="static\img\form.svg" alt="Icone de formulário" />
        </div>
        <div class="icone">
          <p>
            <strong>Acione Seu Entregador: </strong> <br /><br />Escolha e
            acione o entregador para retirar suas encomendas.
          </p>
        </div>
        <div class="icone">
          <img src="static\img\pacote.svg" alt="Icone de pacote" />
        </div>
      </div>
      <div class="linha">
        <img src="static\img\linha.svg" alt="Icone de linha" />
      </div>
      <div class="icones">
        <div class="icone">
          <p>
            <strong>Cadastro Rápido:</strong><br /><br />
            Registre-se em minutos e ative sua conta.
          </p>
        </div>
        <div class="icone">
          <img src="static\img\transporte.svg" alt="Icone de transporte" />
        </div>
        <div class="icone">
          <p>
            <strong>Receba Suas Encomendas: </strong><br /><br />Seu entregador
            retira, e você recebe suas encomendas com tranquilidade.
          </p>
        </div>
      </div>
    </section>
    <section id="sobreMob">
      <div class="icones">
        <div class="icone">
          <img src="static\img\form.svg" alt="Icone de formulário" />
        </div>
        <div class="icone">
          <p>
            <strong>Cadastro Rápido:</strong><br /><br />
            Registre-se em minutos e ative sua conta.
          </p>
        </div>
        <div class="icone">
          <p>
            <strong>Acione Seu Entregador: </strong> <br /><br />Escolha e
            acione o entregador para retirar suas encomendas.
          </p>
        </div>
        <div class="icone">
          <img src="static\img\pacote.svg" alt="Icone de pacote" />
        </div>
        <div class="icone">
          <img src="static\img\transporte.svg" alt="Icone de transporte" />
        </div>
        <div class="icone">
          <p>
            <strong>Receba Suas Encomendas: </strong><br /><br />Seu entregador
            retira, e você recebe suas encomendas com tranquilidade.
          </p>
        </div>
      </div>
    </section>

    <section id="info">
      <div class="container-info">
        <div class="frase">
          <p>
            Adeus idas aos correios. Cadastre-se, conecte-se ao entregador mais
            próximo, e receba suas encomendas em casa. <br /><br />

            Simples, prático, eficiente.
          </p>
        </div>
        <div class="bg-img">
          <img
            src="static\img\entregador-frase.png"
            alt="Imagem de um caminhão com encomendas"
          />
        </div>
      </div>
    </section>
    <section id="cadastro">
      <div>
        <h1>Gostou?<br />Realize seu cadastro.</h1>
        <div>
          <div class="telaImg">
            <img
              src="static\img\tela-form.svg"
              alt="Icone de tela com formulário"
            />
          </div>
          <div class="form">
            <a href="/cadastro">CLIQUE AQUI PARA SE CADASTRAR</a>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div>
        <div>
          <img src="static\img\logo.svg" alt="Logo Entrega Mais" />
        </div>
        <div class="contato">
          <h2>Contato</h2>
          <p>+55 (21) 99999-9999</p>
          <p>contato@entregamais.com.br</p>
          <hr />
          <p>Rua Logo Ali, N° 11, Maracanã</p>

          <p>Rio de Janeiro - RJ</p>
        </div>
        <div class="social">
          <h2>Nossas Redes</h2>
          <hr class="divMob" />
          <br /><br />
          <div class="social">
            <img src="static\img\Instagram.svg" alt="Instagram" />
            <img src="static\img\facebook.svg" alt="facebook" />
            <img src="static\img\youtube.svg" alt="youtube" />
          </div>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
